<!DOCTYPE html>
<html>
<head>
	<title>Invitebox</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="/images/icon.png">
	<style type="text/css">
		body,html
		{
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			border:0;
		}
		.y
		{
			height: 100%;
			width: 100%;
			position: absolute;
			background: url('/images/bk.jpg');
			background-repeat: no-repeat;
  			background-size: cover;
  			z-index: -2;
		}
	</style>
</head>
<body >
	<div class="y"></div>
